@media only screen and (max-width: 600px) {
    .shop{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        background-size: cover;
        background-position: center center;

    }
    .shop__content{
        margin-right: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .shop__content > h1{
        font-size: 30px;
    }
    .shop__descr{
        width: 60%!important;
    }
    .shop__descr > p {
        font-size: 20px;
        text-align: justify;
    }
}
@media only screen and (max-width: 850px) {
    .shop{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        background-size: cover;
        background-position: center center;

    }
    .shop__descr{
        width: 100%;
    }
    .shop__content > h1{
        font-size: 30px;
    }
    .shop__descr > p {
        font-size: 20px;
        text-align: justify;
    }
}
@media only screen and (max-width: 480px) {
    .shop{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        background-size: cover;
        background-position: center center;

    }
}



